.container {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    border-bottom: 1.5px solid rgb(210, 202, 202);
    color: white
    
}

.navList {
    display: flex;
    list-style-type: none;
}

.navItem {
    padding: 0px 12px;
}
  
  